<!--
/**
 * Copyright 2024 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See LICENSE for license details.
 */
 -->
<!-- ko if: (isCheckoutReCaptchaRequiredFor($parents[1]))-->
<div class="recaptcha-checkout-place-order" data-bind="{
    attr: {
        'id': getReCaptchaIdFor($parents[1]) + '-wrapper'
    },
    'afterRender': renderReCaptchaFor($parents[1])
}">
    <div class="g-recaptcha"></div>
    <!-- ko if: (!getIsInvisibleRecaptcha()) -->
    <div class="field">
        <div class="control">
            <input type="checkbox"
                   value=""
                   class="required-captcha checkbox"
                   name="recaptcha-validate-"
                   data-validate="{required:true}"
                   tabindex="-1">
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- ko if: (getIsInvisibleRecaptcha() && getIsInvisibleRecaptchaTextOnly()) -->
<div class="light-recaptcha-text">
    <span data-bind="html: $t('This site is protected by reCAPTCHA and the Google %data-privacy-link and %service-terms-link apply.').replace('%data-privacy-link', getPrivacyPolicyLink()).replace('%service-terms-link', getConditionsOfUseLink())"></span>
</div>
<style>
    .checkout-agreements-block .recaptcha-checkout-place-order {
        visibility: hidden;
        height: 1px;
    }
</style>
<!-- /ko -->
<!-- /ko -->
